@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http
@inject HttpClient Http
<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            @if (avatar != null)
            {
                <img class="rounded" src="@avatar" />
            }
            else
            {
                <img src="img/user.svg" />
            }
            <div>
                <span class="username">@context.User.Identity.Name</span>
                <a class="sign-out" href="user/signout">Sign out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="sign-in" href="user/signin">Sign in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    string avatar = null;

    protected override async Task OnInitializedAsync()
    {
        avatar = await Http.GetStringAsync("user/picture");
        StateHasChanged();
    }

}
